.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
}

.item {
    background-color: #413e39;
    margin: 15px;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 10px 10px 10px #13120E;
}