body {
  background-color: #25201d;
  color: #b2b2ae;
  font-family: 'Pontano Sans', 'Open Sans', sans-serif;
}

/* -------- SIDEBAR CONTAINER -------- */
#logo {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

#stat{ color: #f48fb1; border-bottom: 1px solid #03d9c4; }
#bench{ color: #03d9c4; border-bottom: 1px solid #f48fb1; }

/* default sidebar styling */
.sidebar-item a{
  text-decoration: none;
  color: #b2b2ae;
  font-size: large;
  padding:15px;
}

/* sidebar item when hovered */
.sidebar-item a:hover{
  color: #E8E6E1;
}

/* text color of selected sidebar item */
#selected a{
  color: #E8E6E1;
}

/*background color of selected sidebar item */
div#selected.sidebar-item {
  border-radius: 5px;
  background-color: #504A40;
  padding: 15px;
}


.sidebar-item{
  font-size: 16px;
  text-align: left;
  padding: 15px;
}

/* ----------- FORM ------------- */
#form-title {
  margin-bottom: 20px;
  display: inline-block;

  font-size: large;
  color: #E8E6E1;

}

input, select {
  background-color: #413e39;
  color: #E8E6E1;
  font-family: 'Pontano Sans', 'Open Sans', sans-serif;

  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #f48fb1;
  width: 200px;
}

label {
  font-size: small;
  color: #f48fb1;
  font-family: 'Pontano Sans', 'Open Sans', sans-serif;
  display: inline-block;
  margin-bottom: 15px;
}

input[type="radio"]{
  width: auto;
}

.height-input {
  width: 2rem;
}

button {
  font-family: 'Pontano Sans', 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .2rem;

  padding: 8px;
  background-color: #03d9c4;
  border: 1px solid #03d9c4;
  border-radius: 20px;

}

button:hover{
  background-color: #204b44;
  border: 1px solid #204b44;
  color: #E8E6E1;
}

/* NOTE: add styling for radio button */
