/* STYLESHEET FOR MAIN GRID/PAGE STRUCTURE
   Author: Tiffany Elliott
   Date: July 2021
*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 5vh 28vh 26vh 26vh;
}

/* each grid item or 'square' on dashboard */
.item {
  background-color: #413e39;
  box-shadow: 10px 10px 10px #13120E;
  border-radius: 5px;
  margin: 15px;
  padding: 1rem;
}

/* "Food Log" and "Exercise Log" label */
.label {
  padding-left: 30px;
  height: 35px;
  vertical-align: middle;
  line-height: 35px; /*the same as your div height*/
  font-size: 20px;
  font-weight: bold;
  /*text-align: left;*/
}

/****************** SUB GRIDS ******************/
/* top row: calories, water, activity, greeting */
.sub-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sub-container div, .sub-container img {
  margin: 0;
}

/* sleep container in bottom row */
.sleep-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.sleep-container div, .sleep-container img {
  margin: 0;
}

#sleep img {
  grid-column: 1/-1;
  width: 40%;
}
/***********************************************/

#sidebar {
  grid-row: 1 / -1;
}


/* OPTIONAL DEFINITIONS THESE ARE AUTO PLACED */
#calories {
  grid-column: 2 / 3;
}

#water {
  grid-column: 3 / 4;
}

#activity {
  grid-column: 4 / 5;
}

#greeting {
  grid-column: 5 / 6;
}
/* ------------------------------------------*/

#foodlabel {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
}

#exerlabel {
  grid-row: 2 / span 1;
  grid-column: 4 / span 2;
}
#foodlog {
  grid-row: 3 / -1;
  grid-column: 2 / 4;
}

#exerlog {
  grid-row: 3 / 5;
  grid-column: 4 / 6;
}

/* OPTIONAL DEFINITIONS THESE ARE AUTO PLACED */
#sleep {
  grid-row: 5/ 6;
  grid-column: 4 / 5;
}

#macros {
  grid-row: 5 / 6;
  grid-column: 5 / 6;
}
/* ------------------------------------------*/
